body{
  margin: 15px;
}

#img_div{
  text-align: center;
}

#dota_img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10%;
}

#title{
  font-size: 80px;
}

#subtitle, #que1, #que2{
  font-family: "Oswald", Monospace;
}

#caption{
  font-family: "Open Sans", Monospace;
  font-size: 15px;
}

#que1, #que2{
  font-size: 30px;
}

#introduction, #history{
  font-size: 15px;
}

#info{
  font-family: "Indie Flower", Monospace;
  font-size: 20px;
}
